@headBackgroundColour: #808080;
@menuBackgroundColour: #FF0000;

@space1: 16vw;
@space2: 32vw;
@space3: 48vw;
@space4: 64vw;
@space5: 80vw;
@expandDuration: 2s;
@collapseDuration: 2s;
@expandAnimationTiming: ease-out;
@collapseAnimationTiming: ease-out;
@shootDuration: 1s;
@shootAnimationTiming: cubic-bezier(0.1, 0.7, 1.0, 0.1);
@canonLip: -7.071067812vw;

@keyframes expand1{
	0%{left: 0;}
	100%{left: @space1;}
}
.expand_animation1{
	animation-name: expand1;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}

@keyframes expand2{
	0%{left: 0;}
	100%{left: @space2;}
}
.expand_animation2{
	animation-name: expand2;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}

@keyframes expand3{
	0%{left: 0;}
	100%{left: @space3;}
}
.expand_animation3{
	animation-name: expand3;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}

@keyframes expand4{
	0%{left: 0;}
	100%{left: @space4;}
}
.expand_animation4{
	animation-name: expand4;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}

@keyframes expand5{
	0%{left: 0;}
	100%{left: @space5;}
}
.expand_animation5{
	animation-name: expand5;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}

@keyframes raiseMenu{
	0%{transform: none;}
	100%{transform: rotate(-45deg);}
}
.raise_animation{
	animation-name: raiseMenu;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}

@keyframes loadCanon{
	0%{top: 0; left: 0;}
	100%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
}
.load_animation{
	animation-name: loadCanon;
	animation-duration: @expandDuration;
	animation-timing-function: @expandAnimationTiming;
}


@keyframes collapse1{
	0%{left: @space1;}
	100%{left: 0;}
}
.collapse_animation1{
	animation-name: collapse1;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}

@keyframes collapse2{
	0%{left: @space2;}
	100%{left: 0;}
}
.collapse_animation2{
	animation-name: collapse2;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}

@keyframes collapse3{
	0%{left: @space3;}
	100%{left: 0;}
}
.collapse_animation3{
	animation-name: collapse3;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}

@keyframes collapse4{
	0%{left: @space4;}
	100%{left: 0;}
}
.collapse_animation4{
	animation-name: collapse4;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}

@keyframes collapse5{
	0%{left: @space5;}
	100%{left: 0;}
}
.collapse_animation5{
	animation-name: collapse5;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}

@keyframes lowerMenu{
	0%{transform: rotate(-45deg);}
	100%{transform: none;}
}
.lower_animation{
	animation-name: lowerMenu;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}

@keyframes deloadCanon{
	0%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
	100%{top: 0; left: 0;}
}
.deload_animation{
	animation-name: deloadCanon;
	animation-duration: @collapseDuration;
	animation-timing-function: @collapseAnimationTiming;
}


@keyframes shootItem1{
	0%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
	20%{top: -8.071067812vw;}
	100%{top: 0; left: @space1;}
}
.shootItem1_animation{
	animation-name: shootItem1;
	animation-duration: 1s;
	transition-timing-function: @shootAnimationTiming;
}

@keyframes shootItem2{
	0%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
	25%{top: -9.071067812vw;}
	100%{top: 0; left: @space2;}
}
.shootItem2_animation{
	animation-name: shootItem2;
	animation-duration: 2s;
	transition-timing-function: @shootAnimationTiming;
}

@keyframes shootItem3{
	0%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
	30%{top: -10.071067812vw;}
	100%{top: 0; left: @space3;}
}
.shootItem3_animation{
	animation-name: shootItem3;
	animation-duration: 3s;
	transition-timing-function: @shootAnimationTiming;
}

@keyframes shootItem4{
	0%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
	35%{top: -11.071067812vw;}
	100%{top: 0; left: @space4;}
}
.shootItem4_animation{
	animation-name: shootItem4;
	animation-duration: 4s;
	transition-timing-function: @shootAnimationTiming;
}

@keyframes shootItem5{
	0%{top: @canonLip; left: calc(7.071067812vw - 0.575em);}
	40%{top: -12.071067812vw;}
	100%{top: 0; left: @space5;}
}
.shootItem5_animation{
	animation-name: shootItem5;
	animation-duration: 5s;
	transition-timing-function: @shootAnimationTiming;
}




.initial{
	position: relative;

	.menuItems{
		display: none;

		.menuItem{
			position: absolute;
		}
	}
}

.expanded{
	position: relative;

	.menuTitle{
		.raise_animation;
		transform: rotate(-45deg);
	}

	.menuItems{
		position: relative;
		display: flex;

		.canonBall{
			.load_animation;
			//Related to menuTitle height and width
			top: @canonLip;
			left: calc(7.071067812vw - 0.575em);
		}

		.menuItem{
			position: absolute;

		}
		.item1{
			.expand_animation1;
			left: @space1;
		}
		.item2{
			.expand_animation2;
			left: @space2;
		}
		.item3{
			.expand_animation3;
			left: @space3;
		}
		.item4{
			.expand_animation4;
			left: @space4;
		}
		.item5{
			.expand_animation5;
			left: @space5;
		}

		.shoot1 ~ .canonBall{
			.shootItem1_animation;
			top: 0;
			left: @space1;
		}
		.shoot2 ~ .canonBall{
			.shootItem2_animation;
			top: 0;
			left: @space2;
		}
		.shoot3 ~ .canonBall{
			.shootItem3_animation;
			top: 0;
			left: @space3;
		}
		.shoot4 ~ .canonBall{
			.shootItem4_animation;
			top: 0;
			left: @space4;
		}
		.shoot5 ~ .canonBall{
			.shootItem5_animation;
			top: 0;
			left: @space5;
		}


	}

}

.collapsed{
	position: relative;

	.menuTitle{
		.lower_animation;
	}

	.menuItems{
		display: inline;

		.canonBall{
			.deload_animation;
			top: 0;
			left: 0;
		}

		.menuItem{
			position: absolute;
			display: inline;
		}
		.item1{
			.collapse_animation1;
		}
		.item2{
			.collapse_animation2;
		}
		.item3{
			.collapse_animation3;
		}
		.item4{
			.collapse_animation4;
		}
		.item5{
			.collapse_animation5;
		}
	}
}




.pageContainer{

	margin-left: 1vw;
	margin-right: 1vw;

	.head{
		background-color: @headBackgroundColour;
		padding-bottom: 1.5em;
		text-align: center;
		font-size: 5vw;
		font-weight: bold;
	}

	.expandableMenu{
		position: relative;

		.menuTitle{
			background-color: @menuBackgroundColour;
			display: inline-block;
			position: absolute;
			transform-origin: left bottom;
			//Related to canonBall top and left
			width: 10vw;
			height: 1.15em;
		}

		.menuItems{

			.menuItem{
				
				a{
					text-decoration: none;
					color: black;
				}
			}

			.canonBall{
				position: absolute;
			}

		}

	}


}
