<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href={{lessFileName}} />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <script src="myscripts.js" defer></script>
    <title>Forget Me Not's Nursery: {{pageName}}</title>
</head>
<body>

     <header>
          <a href="login.php">Log In</a>
     </header>

     <div class="title">{{title1}}<span></span>{{title2}}</div>

     <div class="navbar">
          <a href="home.php">Home</a>
          <a href="product.php?product=flowers">Flowers</a>
          <a href="product.php?product=trees">Fruit Trees</a>
          <a href="product.php?product=vegetables">Vegetables</a>
     </div>
</body>
</html>
