<!DOCTYPE html>
<html lang="en">
<body>

     <div class="productPageContent">
          <div class="productNote">
               <div class="noteTitle">Please Note:</div>
               <div class="note">None of the plants are available for purchase online</br>
               All are available in season for purchase in person at Forget Me Not's Nursery</div>
          </div>
          <div class="productContent">

               {%for product in productTable %}
                    <div class="product">
                         <div class="productName">{{product.Name}}</div>
                         <img class="productImage" src={{product.Image}}>
                         <div class="productInfo">{{product.Info}}</div>
                    </div>
               {% endfor %}

          </div>
     </div>



</body>
</html>
