/*
	Term Project CPSC2030
	Title: baseStyles.less
	Author: Shea Melenka
	Date: October 8th 2018
*/

//Variables
@baseColour: #DDDABD;
@frameBackgroundColour: #574919;
@frameBorderColour: #76664C;
@titleBackgroundColour: #798616;
@titleBorderColour: #98A349;

@wideFrameTextSize: 1.5vw;
@wideTitleTextSize: 7vw;

@narrowFrameTextSize: 2.5vw;
@narrowTitleTextSize: 9vw;

@pictureBorderColour: #ECEAD9;
@mediumSpace: 7.5%;

//Mixins
.pageLayout(@backgroundColour, @borderColour, @textColour){
	background-color: @backgroundColour;
	border: 3px solid @borderColour;
	color: @textColour;
}

.textOutline(@outlineColour){
	/*text outline code borrowed from https://wpshout.com/quick-guides/create-text-outline-css/*/
	text-shadow:
		-1px -1px 0 @outlineColour,
		1px -1px 0 @outlineColour,
		-1px 1px 0 @outlineColour,
		1px 1px 0 @outlineColour;
}

.imageProperties(){
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gridPosition(@cs, @ce, @rs, @re){
	grid-column-start: @cs;
	grid-column-end: @ce;
	grid-row-start: @rs;
	grid-row-end: @re;
}

.createPillar(){
	display: grid;
	grid-template-rows: auto 1fr auto;

	.pillarTop{
		.gridPosition(1, 2, 1, 2);
	}
	.pillarExtension{
		.gridPosition(1, 2, 2, 3);
		background-image: url("images/pillarExtensionMini.png");
		background-size: contain;
		background-position: center;
		background-repeat: repeat-y;
	}
	.pillarBottom{
		.gridPosition(1, 2, 3, 4);
	}

}

//Sections
body{
	background-color: @baseColour;

	//Overlay code borrowed from https://www.w3schools.com/howto/howto_css_overlay.asp
	.login {

		.box{
			width: 60%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 2.5%;
			margin-bottom: 2.5%;
			padding-top: @mediumSpace;
			padding-bottom: @mediumSpace;

			background-image: url("images/greenHouseDoor.jpg");/*http://marylemm.blogspot.com/2011/10/it-smells-like-autumn.html*/
			.imageProperties();
		    	font-size: @wideTitleTextSize;
		   	text-align: center;


   			.pageLayout(transparent, @pictureBorderColour, white);
   			.textOutline(black);
   			text-decoration: none;
   			border-radius: 25px;

			button{
				cursor: pointer;
			}

		}

	}

	header{
		text-align: right;
		.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
		cursor: default;

		a{
	          color: @baseColour;
	          text-decoration: none;

	          &:hover{
	               margin: -3px;
	               .pageLayout(@frameBorderColour, @frameBackgroundColour, @pictureBorderColour);
	          }
		}

		div{
			margin-right: 5px;
			display: inline-block;
			cursor: pointer;
		}

	}

	.title{
		text-align: center;
		.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBorderColour);
		.textOutline(@frameBackgroundColour);

		span{
			display: block;
		}

	}

	.navbar{
	     display: flex;
	     justify-content: space-around;
	     .pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);

	     a{
	          width: 100%;
	          padding-top: 0.5%;
	          padding-bottom: 0.5%;
	          text-align: center;
	          display: block;
	          color: @baseColour;
	          text-decoration: none;

	          &:hover{
	               margin: -3px;
	               .pageLayout(@frameBorderColour, @frameBackgroundColour, @pictureBorderColour);
	          }

	     }

	}

	.container1{
		display: grid;
		grid-template-columns: 1fr 8fr 1fr;
		grid-template-rows: auto 1fr;

		img{
			width: 100%;
		}

		#navVines{
			.gridPosition(2, 3, 1, 2);
			margin-left: -1%;
			margin-right: -1.5%;
			width: 102.5%;
		}

		.pillarLeft{
			.gridPosition(1, 2, 1, 3);
			.createPillar();
		}

		.pillarRight{
			.gridPosition(3, 4, 1, 3);
			.createPillar();
		}

		.content{
			.gridPosition(2, 3, 2, 3);
			padding-left: 2.5%;
			padding-right: 2.5%;
			padding-bottom: 2.5%;

			//borrowed from https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/
			.slideshow {
				background-color: @frameBackgroundColour;
			    	position: relative;
			    	height: 350px;
			    	padding: 10px;
			    	box-shadow: 0 0 20px rgba(0,0,0,0.4);
			    	.imageProperties();

			    	.slideshowImage {
					position: absolute;
					width: calc(100% - 20px);
					align-self: center;

				    	.imageProperties();

					height: 350px;
					object-fit: cover;
				}

			}

			.findUs{
				padding-left: 1%;
				padding-right: 1%;
				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @baseColour);
			}


		}

		.productPageContent{
			.gridPosition(2, 3, 2, 3);

			.productNote{
				padding-left: 2.5%;
				padding-right: 2.5%;
				.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
				text-align: center;

				.noteTitle{
					font-weight: bold;
					font-size: 25px;
				}

				.note{
					font-size: 20px;
				}

			}

			.productContent{
				padding-left: 2.5%;
				padding-right: 2.5%;
				padding-bottom: 2.5%;
				margin-bottom: 10px;

				display: grid;
				//Borrowed from https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/
				grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
				align-content: center;


				.pageLayout(@titleBackgroundColour,  @titleBorderColour, black);

				.product{

					width: 250px;
					padding: 5px;

					//overflow: hidden;
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					margin: 5px;
					margin-left: auto;
					margin-right: auto;

					.productName{
						text-align: center;
					}

					.productInfo{
						display: none;
					}

				}

				.product:hover{

					background-color: rgba(87,73,25,0.75);
					grid-row-end: span 2;

					.productInfo{
						display: block;
					}

				}

			}

		}

	}

	footer{
		text-align: left;
		.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
	}

}



@media only screen and (min-width: 800px){

	header{

		a{
			font-size: @wideFrameTextSize;
		}

	}

	.title{
		font-size: @wideTitleTextSize;
	}

	.navbar{

     	a{
     		font-size: @wideFrameTextSize;
     	}

	}

	.findUs{
		font-size: @wideFrameTextSize;
	}

	footer{
		font-size: @wideFrameTextSize;
	}

}

@media only screen and (max-width: 800px){

	header{

		a{
			font-size: @narrowFrameTextSize;
		}

	}

	.title{
		font-size: @narrowTitleTextSize;
	}

	.navbar{

     	a{
     		font-size: @narrowFrameTextSize;
     	}

     }

	.findUs{
		font-size: @narrowFrameTextSize;
	}

	footer{
		font-size: @narrowFrameTextSize;
	}

}

@media only screen and (min-width: 630px){

	.findUs{
		display: flex;
		justify-content: space-between;
	}

}

@media only screen and (max-width: 630px){

	.findUs{
		display: block;
	}

}
