/* 
	assignment1 CPSC2030
	Author: Shea Melenka
	Date: September 17th 2018 
*/

div.container{
	display: flex;
	font-family: Georgia, serif; 
}

img{
		
	width: 40%;
	height: 40%;
	max-height: 600px;
	object-fit: contain;
}

div.container p:first-letter {
    
    font-size: 200%;
    font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif;
    border: solid black;
}

@media screen and (min-width:700px ){
   
   div.container{
		
		flex-direction: row;
	}

	element.text_element{
		
		margin-left: 1em;
	}
	
}

@media screen and (max-width:700px ){
	
	div.container{
		
		flex-direction: column;
	}
	
	img{
		
		
		margin-left: auto;
		margin-right: auto;
		min-width: 200px;
	}
	
}

p#para1{
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}



p#para1:first-letter {
    
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

i.job_title{
	
	font-size: 150%;
}

p.para:first-line{
	
	font-weight: bold;
	
}


div.GRIDcontainer{
	
	display: grid;
	grid-template-columns: 1fr 1fr;
}

element.box{
	
	padding: 0.5em;
}

li.list{
	
	padding: 0.5em;
}
