/* 
	assignment1 CPSC2030
	Author: Shea Melenka
	Date: September 17th 2018 
*/

body{
	background-color: #DDDABD;
}

header{
	background-color: #574919;
	border: 3px solid #76664C;
	color: #DDDABD;
	text-align: right;
	font-size: 1.5vw;
}

div.title{
	background-color: #798616;
	color: #76664C;
	/*text outline code borrowed from https://wpshout.com/quick-guides/create-text-outline-css/*/
	text-shadow:
		-1px -1px 0 #574919,
		1px -1px 0 #574919,
		-1px 1px 0 #574919,
		1px 1px 0 #574919;
	font-size: 9vw;
	text-align: center;
	/*border-radius: 25px;*/
	border: 3px solid #98A349;
}

div.container{
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: space-around;
	
}

div.product{
	width: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 3vw;
	text-align: center;
	color: white;
	/*text outline code borrowed from https://wpshout.com/quick-guides/create-text-outline-css/*/
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	border-radius: 25px;
	border: 3px solid #ECEAD9;
}

#flowers{
	background-image: url("flowers.jpg");/*http://www.judecollins.com/2015/06/somewhere-where-the-grass-is-greener-by-harry-mcavinchey/*/
}

#trees{
	background-image: url("trees.jpg");/*https://all.biz/uz-en/saplings-of-fruit-trees-g86067*/
	}

#vegetables{
	background-image: url("vegetables.jpg");/*http://www.chorltonnursery.com/latest_news/bedding-and-vegetable-seedlings/*/
}	

footer{
	background-color: #574919;
	border: 3px solid #76664C;
	color: #DDDABD;
	text-align: left;
	font-size: 1.5vw;
}










