/*
	Term Project CPSC2030
	Title: baseStyles.less
	Author: Shea Melenka
	Date: October 8th 2018
*/

//Variables
@baseColour: #DBE1EE;
@frameBackgroundColour: #08103E;
@frameBorderColour: #10439F;
@titleBackgroundColour: #0AA6DD;
@titleBorderColour: #2FCAF6;

@wideFrameTextSize: 1.5vw;
@wideTitleTextSize: 7vw;

@narrowFrameTextSize: 2.5vw;
@narrowTitleTextSize: 9vw;

@pictureBorderColour: #ECEAD9;
@mediumSpace: 7.5%;

@subTitleTextSize: 5vw;

//Mixins
.pageLayout(@backgroundColour, @borderColour, @textColour){
	background-color: @backgroundColour;
	border: 3px solid @borderColour;
	color: @textColour;
}

.textOutline(@outlineColour){
	/*text outline code borrowed from https://wpshout.com/quick-guides/create-text-outline-css/*/
	text-shadow:
		-1px -1px 0 @outlineColour,
		1px -1px 0 @outlineColour,
		-1px 1px 0 @outlineColour,
		1px 1px 0 @outlineColour;
}

.imageProperties(){
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.gridPosition(@cs, @ce, @rs, @re){
	grid-column-start: @cs;
	grid-column-end: @ce;
	grid-row-start: @rs;
	grid-row-end: @re;
}

//Sections
body{
	background-color: @baseColour;
	background-image: url("images/circuitboard.jpg");
	.imageProperties();
	background-repeat: repeat-y;
	height: 100vh;

	header{
		display: flex;
		justify-content: space-between;
		.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
		cursor: default;

		a{
	          color: @baseColour;
	          text-decoration: none;

	          &:hover{
	               margin: -3px;
	               .pageLayout(@frameBorderColour, @frameBackgroundColour, @pictureBorderColour);
	          }
		}


	}

	.title{
		text-align: center;
		.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBorderColour);
		.textOutline(@frameBackgroundColour);

		span{
			display: block;
		}

	}

	.navbar{
	     display: flex;
	     justify-content: space-around;
	     .pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);

	     a{
	          width: 100%;
	          padding-top: 0.5%;
	          padding-bottom: 0.5%;
	          text-align: center;
	          display: block;
	          color: @baseColour;
	          text-decoration: none;

	          &:hover{
	               margin: -3px;
	               .pageLayout(@frameBorderColour, @frameBackgroundColour, @pictureBorderColour);
	          }

	     }

	}

		.homeContent{
			.gridPosition(2, 3, 2, 3);
			padding: 2.5%;


			//borrowed from https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/
			.slideshow {
				background-color: @frameBackgroundColour;
			    	position: relative;
			    	height: 350px;
			    	padding: 10px;
			    	box-shadow: 0 0 20px rgba(0,0,0,0.4);
			    	.imageProperties();

			    	.slideshowImage {
					position: absolute;
					width: calc(100% - 20px);
					align-self: center;

				    	.imageProperties();

					height: 350px;
					object-fit: cover;
				}

			}

		}

		.introContent{
			padding: 2.5%;

			.companyBio{
				display: grid;
				grid-template: auto auto auto / auto auto;
				padding: 10px;
				grid-gap: 10px;

				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);

					.bioTitle{
						.gridPosition(1, 3, 1, 2);
						font-weight: bold;
						padding-bottom: 10px;
						font-size: @subTitleTextSize;
					}

					.RachelBio{
						.gridPosition(1, 2, 2, 3);
						margin-top: auto;
						margin-bottom: auto;
					}

					.RachelImage{
						.gridPosition(2, 3, 2, 3);
						height: 50vw;
					}

					.MichaelBio{
						.gridPosition(1, 2, 3, 4);
						margin-top: auto;
						margin-bottom: auto;
					}

					.MichaelImage{
						.gridPosition(2, 3, 3, 4);
						height: 54.5vw;
					}



				.founderImage{
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					.imageProperties();

					padding: 5px;
				}



			}

			.missionStatement{

				.missionTitle{
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
				padding: 10px;
			}

		}

		.destructiveContent{
			padding: 2.5%;

			.Paycheck{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.PaycheckTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.PaycheckDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.PaycheckImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					.imageProperties();
					height: 25vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

			.Reign{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
				padding: 10px;

				.ReignTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.ReignDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.ReignImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
					.imageProperties();
					height: 27.5vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

			.MIB{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.MIBtitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.MIBdescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.MIBimage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					.imageProperties();
					height: 50vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

		}

		.restorativeContent{
			padding: 2.5%;

			.oil{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.oilTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.oilDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.oilImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					.imageProperties();
					height: 25vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

			.tablets{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
				padding: 10px;

				.tabletsTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.tabletsDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.tabletsImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
					.imageProperties();
					height: 50vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

			.teas{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.teasTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.teasDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.teasImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					.imageProperties();
					height: 40vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

			.reNeuralizer{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
				padding: 10px;

				.reNeuralizerTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.reNeuralizerDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.reNeuralizerImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
					.imageProperties();
					height: 35vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

			.taser{
				display: grid;
				grid-template: auto auto / auto auto;
				grid-gap: 10px;
				.pageLayout(@titleBackgroundColour,  @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.taserTitle{
					.gridPosition(1, 3, 1, 2);
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.taserDescription{
					.gridPosition(1, 2, 2, 3);
					margin-top: auto;
					margin-bottom: auto;
				}

				.taserImage{
					.gridPosition(2, 3, 2, 3);
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					.imageProperties();
					height: 20vw;
					padding: 5px;
					vertical-align: middle;
					margin-top: auto;
					margin-bottom: auto;
				}

			}

		}

		.testLogContent{
			padding: 2.5%;
			display: flex;

			.searchMenu{
				margin-right: 2.5%;

				.list{
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					padding: 10px;
					margin-bottom: 10px;

					.listTitle{
						font-weight: bold;
						padding-bottom: 10px;
					}

					.menuItem{
						.pageLayout(@titleBackgroundColour, @titleBorderColour, @frameBackgroundColour);

						&:hover{
				               .pageLayout(@titleBorderColour, @titleBackgroundColour, @pictureBorderColour);
				          }

					}

					.selected{
						.pageLayout(@pictureBorderColour, @baseColour, @frameBackgroundColour);
					}

				}

			}

			.testLogList{
				.pageLayout(@titleBackgroundColour, @titleBorderColour, @frameBackgroundColour);
				padding-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
				width: 100%;

				.test{
					.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
					padding: 10px;
					margin-bottom: 10px;
					display: grid;
					grid-template-areas:
					    'date doctor'
					    'patient restorative'
					    'destructive destructive'
					    'description description '
					    'results results';
					justify-content: space-between;

					.testDate{
						grid-area: date;
					}

					.testDoctor{
						grid-area: doctor;
						text-align: right;
					}

					.testPatient{
						grid-area: patient;
					}

					.testDestructive{
						grid-area: destructive;
					}

					.testRestorative{
						grid-area: restorative;
						text-align: right;
					}

					.testDescription{
						grid-area: description;
					}

					.testResults{
						grid-area: results;
					}

				}


			}

		}

		.joinUsContent{
			padding: 2.5%;

			.description{
				.pageLayout(@titleBackgroundColour, @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.descriptionTitle{
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

			}

			.application{
				.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
				padding: 10px;

				.applicationTitle{
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.applicationContent{

					input{
						width: 100%;
						margin-bottom: 10px;
					}

					textarea{
						width: 100%;
						height: 100px;
						margin-bottom: 10px;
					}

				}

			}

			.feedback{
				.pageLayout(@titleBackgroundColour, @titleBorderColour, @frameBackgroundColour);
				padding: 10px;

				.feedbackTitle{
					font-weight: bold;
					padding-bottom: 10px;
					font-size: @subTitleTextSize;
				}

				.feedbackContent{

					input{
						width: 100%;
						margin-bottom: 10px;
					}

					textarea{
						width: 100%;
						height: 100px;
						margin-bottom: 10px;
					}

				}

			}

			.successfulSubmission{

				.applicationContent{
					display: none;
				}

				.feedbackContent{
					display: none;
				}

			}


		}

	footer{
		text-align: left;
		.pageLayout(@frameBackgroundColour, @frameBorderColour, @baseColour);
	}

}



@media only screen and (min-width: 800px){

	header{

		div{
			font-size: @wideFrameTextSize;
		}

		a{
			font-size: @wideFrameTextSize;
		}

	}

	.title{
		font-size: @wideTitleTextSize;
	}

	.navbar{

     	a{
     		font-size: @wideFrameTextSize;
     	}

	}

	.introContent{
		font-size: @wideFrameTextSize;
	}

	.destructiveContent{
		font-size: @wideFrameTextSize;
	}

	.testLogContent{
		font-size: @wideFrameTextSize;

		.menuItem{
			width: 18vw;
		}

	}

	.joinUsContent{
		font-size: @wideFrameTextSize;
	}

	footer{
		font-size: @wideFrameTextSize;
	}

}

@media only screen and (max-width: 800px){

	header{

		div{
			font-size: @narrowFrameTextSize;
		}

		a{
			font-size: @narrowFrameTextSize;
		}

	}

	.title{
		font-size: @narrowTitleTextSize;
	}

	.navbar{

     	a{
     		font-size: @narrowFrameTextSize;
     	}

     }

	.introContent{
		font-size: @narrowFrameTextSize;
	}

	.destructiveContent{
		font-size: @narrowFrameTextSize;
	}

	.testLogContent{
		font-size: @narrowFrameTextSize;

		.menuItem{
			width: 30vw;
		}

	}

	.joinUsContent{
		font-size: @narrowFrameTextSize;
	}

	footer{
		font-size: @narrowFrameTextSize;
	}

}
