.gridPosition(@cs, @ce, @rs, @re){
	grid-column-start: @cs;
	grid-column-end: @ce;
	grid-row-start: @rs;
	grid-row-end: @re;
}

.selected {
    background-color: yellow;
    color: red;
}



.container{
     display: grid;


     .title{
          font-weight: bolder;
     }

     .battalionRoster{
          .gridPosition(1, 2, 1, 2);

          .roster{
               margin-left: 15px;

          }
     }

     .subContainer{
          .gridPosition(2, 4, 1, 2);
          display: grid;

          .squadRoster{
               .gridPosition(1, 2, 1, 2);
          }

          .profile{
               .gridPosition(2, 3, 1, 2);
               max-width: 55vw;

               .info h4{
                    display: inline-block;
                    margin: 0;
               }
          }

          .image{
               .gridPosition(1, 3, 2, 3);

               .characterImage{
                    margin-top: 5%;
                    width: 75%;
               }
          }
     }
}
