<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href={{lessFileName}} />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
    <!--<script src="../myscripts.js" defer></script>-->
    <script src="myscripts.js" defer></script>
    <title>Forget Me Not's Memory Testing Facility: {{pageName}}</title>
</head>
<body>

     <header>
          <div class="user">
               {{userName}}
          </div>

          <a href="../home.php">Log Out</a>
     </header>

     <div class="title">{{title1}}</div>

     <div class="navbar">
          <a href="index.php?page=home">Home</a>
          <a href="index.php?page=intro">Introduction</a>
          <a href="index.php?page=destructive">Destructive Technology</a>
          <a href="index.php?page=restorative">Restorative Technology</a>
          <a href="index.php?page=testLog">Test Log</a>
          <a href="index.php?page=joinUs">Join Us</a>
     </div>
</body>
</html>
