<!DOCTYPE html>
<html lang="en">
<body>
     <div class="testLogContent">
          <div class="searchMenu">
               <div class="list doctorList">
                    <div class="listTitle doctorTitle">Doctors:</div>
                    {% for doctor in doctorlist %}
                         <div class="menuItem {{doctor.ID}}">{{doctor.Doctor}}</div>
                    {% endfor %}
               </div>
               <div class="list patientList">
                    <div class="listTitle patientTitle">Patients:</div>
                    {% for patient in patientlist %}
                         {% if patient.Patient == "N/A" %}
                         {% else %}
                              <div class="menuItem {{patient.ID}}">{{patient.Patient}}</div>
                         {% endif %}
                    {% endfor %}
               </div>
               <div class="list destructiveList">
                    <div class="listTitle destructiveTitle">Destructive Technology:</div>
                    {% for destructive in destructivelist %}
                         <div class="menuItem {{destructive.ID}}">{{destructive.Destructive_Technology}}</div>
                    {% endfor %}
               </div>
               <div class="list restorativeList">
                    <div class="listTitle restorativeTitle">Restorative Technology:</div>
                    {% for restorative in restorativelist %}
                         <div class="menuItem {{restorative.ID}}">{{restorative.Restorative_Technology}}</div>
                    {% endfor %}
               </div>
          </div>
          <div class="testLogList">
               {% for test in testlist %}
                    <div class="test">
                         <div class="testInfo testDate">{{test.Date}}</div>
                         <div class="testInfo testDoctor">Doctor: {{test.Doctor}}</div>
                         <div class="testInfo testPatient">Patient: {{test.Patient}}</div>
                         <div class="testInfo testDestructive">Destructive Technology: {{test.Destructive_Technology}}</div>
                         <div class="testInfo testRestorative">Restorative Technology: {{test.Restorative_Technology}}</div>
                         <div class="testInfo testDescription">Test Description: {{test.Test_Description}}</div>
                         <div class="testInfo testResults">Results: {{test.Results}}</div>
                    </div>
               {% endfor %}
          </div>
     </div>
</body>
</html>
