<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>{{dbname}}</title>
</head>
<body>
    <div class="pokemonCard">
         {%for pokemon in pokefave %}
               <a href='index.php?fave={{pokemon.Name}}'>
               <div class="card">
                    <div class="cardInfo">{{pokemon.ID}}</div>
                    <div class="cardInfo">{{pokemon.Name}}</div>
                    <div class="cardInfo">{{pokemon.Type}}</div>
                    <div class="cardInfo">{{pokemon.HP}}</div>
                    <div class="cardInfo">{{pokemon.Attack}}</div>
                    <div class="cardInfo">{{pokemon.Defense}}</div>
                    <div class="cardInfo">{{pokemon.SpecialAttack}}</div>
                    <div class="cardInfo">{{pokemon.SpecialDefense}}</div>
                    <div class="cardInfo">{{pokemon.Speed}}</div>
                    <div class="cardInfo">{{pokemon.TotalStats}}</div>
               </div>
               </a>
          {% endfor %}
    </div>
</body>
</html>
