.title{
     text-align: center;
     font-weight: bold;
}

.content{
     display: grid;
     grid-template-columns: 1fr 9fr;

     .usersInfo{
          grid-column: 1;
     }

     .chatBox{
          grid-column: 2;

          //display: grid;
          //grid-template-rows: 9fr 1fr;
          //text-align: center;

          .messageBacklog{
               //grid-row: 1;

               .messageInstance{
                    border: 3px solid black;
                    padding: 5px;
                    border-radius: 25px;


                    .timesent{
                         //display: inline-block;
                         text-align: left;
                         //width: 135px;
                    }

                    .message{
                         display: inline-block;
                         text-align: center;
                    }

                    .sender{
                         //display: inline-block;
                         text-align: right;
                    }

               }

          }

          .composeMessage{
               //grid-row: 10;

               .compositionBox{
                    width: 90%;
               }


          }

     }

}
