/*
     Assignment#5 CPSC2030
     Title: styles.less
     Author: Shea Melenka
     Date: October 21st 2018
*/

//Colour Scheme Variables
@colour1: white;
@colour2: blue;

h1{
     font-size: 35px;
     font-weight: bold;
}

.container{
     width: 100%;
	display:flex;
	flex-flow: row wrap;
     justify-content: space-around;
}

.card{
     background-image: linear-gradient(to right, white, pink);
     border: 5px solid #F778A1;
     margin: 5px;
     height: 280px;
     width: 200px;

     font-size: 20px;
}

.details{

     vertical-align: bottom;
}

.body_text{
     display: grid;
}

.ID{
     grid-column-start: 1;
}

.Type{
     grid-column-start: 8;
     text-align: right;
}

.top_info{
     width: 50%;
     font-size: 35px;
     font-weight: bold;
     grid-column-end: span 7;
     grid-row-start: 1;
     grid-row-end: 2;

}

.stats{
     font-size: 20px;
     grid-column-end: span 2;
     grid-row-start: 2;
     grid-row-end: 3;
     text-align: center;
}
