<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>{{dbname}}</title>
</head>
<body>
    <div class="pokemonTable">
         {%for pokemon in poketable %}
               <a href='index.php?fave={{pokemon.Name}}'>

                    {% set isFave = false %}
                    {%for fave in pokefave %}
                         {% if pokemon.Name == fave.Name %}
                             {% set isFave = true %}
                         {% endif %}
                    {% endfor %}

                    {% if isFave %}
                         <div class="tableInput favouritePokemon">
                    {% else %}
                         <div class="tableInput">
                    {% endif %}

                    <div class="info">{{pokemon.ID}}</div>
                    <div class="info">{{pokemon.Name}}</div>
                    <div class="info">{{pokemon.Type}}</div>
               </div>
               </a>
         {% endfor %}
    </div>
</body>
</html>
