/*
* Author: Shea Melenka
* Student Number: 100256065
* Class: CPSC 2030 001
* Date: October 1st, 2018
*/
div.title {
  background-image: linear-gradient(to right, #800080, #FE7FFE);
  text-align: center;
}
div.container {
  background-color: #800080;
}
.bargraph {
  height: 200px;
  display: grid;
}
.flexbottom {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: #E600E6;
}
.flexbottom h2 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.flexbottom .mon {
  margin: 1px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 3px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: initial;
}
.flexbottom .mon::first-line {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: initial;
}
@media only screen and (min-width: 814px) {
  div.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 5vw;
  }
  div.top.menu {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    background-color: #4D004D;
    border-radius: 15px;
    text-align: center;
  }
  div.top.menu .item:nth-child(3n-2) {
    background: #800080;
  }
  div.top.menu .item:nth-child(3n-1) {
    background: #B300B3;
  }
  div.top.menu .item:nth-child(3n) {
    background: #E600E6;
  }
  div.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 30px 0px 0px 30px;
  }
  div.container .bargraph {
    margin-top: 15px;
    grid-template-columns: repeat(12, auto);
  }
  div.container .bargraph .bar1 {
    background-color: #008000;
    grid-column-start: 3;
    grid-column-end: span 1;
  }
  div.container .bargraph .bar2 {
    background-color: #008000;
    grid-column-start: 5;
    grid-column-end: span 1;
  }
  div.container .bargraph .bar3 {
    background-color: #008000;
    grid-column-start: 7;
    grid-column-end: span 1;
  }
  div.container .bargraph .bar4 {
    background-color: #008000;
    grid-column-start: 9;
    grid-column-end: span 1;
  }
  div.container .bargraph .bar1 {
    grid-row-end: 6;
    grid-row-start: 2;
  }
  div.container .bargraph .bar2 {
    grid-row-end: 6;
    grid-row-start: 3;
  }
  div.container .bargraph .bar3 {
    grid-row-end: 6;
    grid-row-start: 1;
  }
  div.container .bargraph .bar4 {
    grid-row-end: 6;
    grid-row-start: 4;
  }
  div.container .sidebar {
    padding-top: 55px;
    padding-left: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: initial;
  }
  div.container .sidebar .item .subItem {
    display: none;
  }
  div.container .sidebar .item:hover {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: initial;
  }
  div.container .sidebar .item:hover .subItem {
    display: block;
    margin-left: 30px;
  }
  div.container .sidebar .item:hover .subItem:hover {
    color: #FF0000;
  }
  div.container .flexbottom .mon {
    width: 17%;
    background-image: linear-gradient(to right, #800080, #350034);
  }
  div.container .flexbottom .mon:nth-child(2n-1) {
    background-image: linear-gradient(to left, #800080, #350034);
  }
}
@media only screen and (max-width: 814px) {
  div.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 6vw;
  }
  div.top.menu .item:nth-child(2n-1) {
    background: #800080;
  }
  div.top.menu .item:nth-child(2n) {
    background: #B300B3;
  }
  div.container .bargraph {
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(12, auto);
  }
  div.container .bargraph .bar1 {
    background-color: #FF0000;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  div.container .bargraph .bar2 {
    background-color: #FF0000;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  div.container .bargraph .bar3 {
    background-color: #FF0000;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  div.container .bargraph .bar4 {
    background-color: #FF0000;
    grid-row-start: 9;
    grid-row-end: span 1;
  }
  div.container .bargraph .bar1 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  div.container .bargraph .bar2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  div.container .bargraph .bar3 {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  div.container .bargraph .bar4 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  div.container .sidebar {
    display: none;
  }
  div.container .flexbottom .mon {
    width: 100%;
    background-image: radial-gradient(#800080, #350034);
    color: #00FFFF;
  }
  div.container .flexbottom .mon::first-line {
    color: #0000FF;
  }
}
div.top.menu {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: large;
}
div.top.menu .item {
  color: white;
}
div.top.menu .item:hover {
  background: #DDA0DD;
}
