/*
* Author: Shea Melenka
* Student Number: 100256065
* Class: CPSC 2030 001
* Date: October 1st, 2018
*/

//Colour Scheme Variables
@backgroundColour: #800080;
@darkBackgroundColour: #4D004D;
@lightBackgroundColour: #B300B3;
@lightestBackgroundColour: #E600E6;

@titleGradientLight: #FE7FFE;
@titleGradientDark: @backgroundColour;

@menuHoverColour: #DDA0DD;

@verticalBargraphColour: #008000;
@horizontalBargraphColour: #FF0000;
@numberOfBars: 4;

@sidebarHoverColour: #FF0000;

@boxesGradientLight: @backgroundColour;
@boxesGradientDark: #350034;
@narrowBoxTitleColour: #0000FF;
@narrowBoxBodyColour: #00FFFF;

@bodyText: "Courier New", Courier, monospace;
@titleText: Arial, Helvetica, sans-serif;

//Parametric Mixin
.fontMixin(@family:@bodyText; @weight:normal; @size:initial ){
	font-family: @family;
	font-weight: @weight;
	font-size: @size;
}

//Shared styles between both @medias
div.title{
	background-image: linear-gradient(to right, @titleGradientDark, @titleGradientLight);
	text-align: center;
}

div.container{
	background-color: @backgroundColour;
}

.bargraph{
	height: 200px;
	display: grid;
}

//Loop structures borrowed from http://lesscss.org/features/#mixins-feature-loops-feature
.createVerticalBargraph(@n, @i: 1) when (@i =< @n) {
  	.bar@{i} {

		background-color: @verticalBargraphColour;
    		grid-column-start: (@i)*2+1;
		grid-column-end: span 1;
  	}
  	.createVerticalBargraph(@n, (@i + 1));
}

.createHorizontalBargraph(@n, @i: 1) when (@i =< @n) {
  	.bar@{i} {

		background-color: @horizontalBargraphColour;
    		grid-row-start: (@i)*2+1;
		grid-row-end: span 1;
  	}
  	.createHorizontalBargraph(@n, (@i + 1));
}

.barHeight(@height){
	@graphEnd: 6;
	grid-row-end: @graphEnd;
	grid-row-start: (@graphEnd)-(@height);
}

.barLength(@length){
	@graphStart: 1;
	grid-column-start: @graphStart;
	grid-column-end: (@graphStart)+(@length);
}

.flexbottom{
	width: 100%;
	display:flex;
	flex-flow: row wrap;
	background-color: @lightestBackgroundColour;

	h2{
		width: 100%;
		.fontMixin(@family:@titleText; @weight:bold; @size: 24px);//24px is the same as h2 default size
	}

	.mon{
		margin: 1px;
		border: 1px solid black;
		border-radius: 15px;
		padding: 3px;
		.fontMixin();
	}

	.mon::first-line {
		.fontMixin(@family:@titleText; @weight:bold);
	}

}

@media only screen and (min-width: 814px){

	div.title{
		.fontMixin(@family:@titleText; @size:5vw);
	}

	div.top.menu{
		margin-left: 10%;
		margin-right: 10%;
		display: flex;
		justify-content: space-around;
		background-color: @darkBackgroundColour;
		border-radius: 15px;
		text-align: center;

		.item:nth-child(3n-2) {
			background: @backgroundColour;
		}

		.item:nth-child(3n-1) {
			background: @lightBackgroundColour;
		}

		.item:nth-child(3n) {
			background: @lightestBackgroundColour;
		}

	}

	div.container{
		display: grid;
		grid-template-columns: 1fr 3fr;
		border-radius: 30px 0px 0px 30px;

		.bargraph{
			margin-top: 15px;
			grid-template-columns: repeat(12, auto);

			.createVerticalBargraph(@numberOfBars);

			.bar1{
				.barHeight(4);
			}

			.bar2{
				.barHeight(3);
			}

			.bar3{
				.barHeight(5);
			}

			.bar4{
				.barHeight(2);
			}

		}

		.sidebar{
			padding-top: 55px;
			padding-left: 30px;
			grid-row-start: 1;
			grid-row-end: 3;
			.fontMixin();

			.item{

				.subItem{
					display: none;
				}

				&:hover {
					.fontMixin(@weight:bold);

					.subItem{
						display: block;
						margin-left: 30px;

						&:hover {
							color: @sidebarHoverColour;
						}

					}

				}

			}

		}

		.flexbottom{

			.mon{
				width: 17%;
				background-image: linear-gradient(to right, @boxesGradientLight, @boxesGradientDark);
			}

			.mon:nth-child(2n-1) {
				background-image: linear-gradient(to left, @boxesGradientLight, @boxesGradientDark);
			}

		}

	}

}




@media only screen and (max-width: 814px){

	div.title{
		.fontMixin(@family:@titleText; @size:6vw)
	}

	div.top.menu{

		.item:nth-child(2n-1) {
			background: @backgroundColour;
		}

		.item:nth-child(2n) {
			background: @lightBackgroundColour;
		}

	}

	div.container{

		.bargraph{
			grid-template-columns: repeat(6, auto);
			grid-template-rows: repeat(12, auto);

			.createHorizontalBargraph(@numberOfBars);

			.bar1{
				.barLength(4);
			}

			.bar2{
				.barLength(3);
			}

			.bar3{
				.barLength(5);
			}

			.bar4{
				.barLength(2);
			}

		}

		.sidebar{
			display: none;
		}

		.flexbottom{

			.mon{
				width: 100%;
				background-image: radial-gradient(@boxesGradientLight, @boxesGradientDark);
				color: @narrowBoxBodyColour;


			}

			.mon::first-line {
				color: @narrowBoxTitleColour;
			}

		}

	}

}

//Has to be after all other code that changes the background colour of .item
div.top.menu{
	.fontMixin(@size:large);

	.item{
		color: white;

		&:hover {
			background: @menuHoverColour;
		}

	}

}
