/*
     Assignment#5 CPSC2030
     Title: styles.less
     Author: Shea Melenka
     Date: October 21st 2018
*/

//Colour Scheme Variables
@colour1: lightblue;
@colour2: white;
@colour3: pink;

a{
     text-decoration: none;
     color: black;
}

h1{
     font-size: 35px;
     font-weight: bold;
}

body{
     display: grid;
}

.title{
     grid-column-start: 1;
     grid-column-end: span 8;
     grid-row-start: 1;
     grid-row-end: 2;
}

hr{
     grid-column-start: 1;
     grid-column-end: span 8;
     grid-row-start: 2;
     grid-row-end: 3;
}

.sideBar{
     grid-column-start: 1;
     grid-column-end: span 1;
     grid-row-start: 3;
}

.pokemonCard{
     grid-column-start: 2;
     grid-column-end: span 6;
     grid-row-start: 3;
     display: flex;
}

.card{

     background-image: linear-gradient(to right, @colour2, @colour3);
     border: 5px solid #F778A1;
     margin: 5px;
     height: 230px;
     width: 150px;

     font-size: 20px;
}

.pokemonTable{
     grid-column-start: 2;
     grid-column-end: span 6;
     grid-row-start: 6;
}

.tableInput{
     display: grid;
     grid-template-columns: repeat(3, 33.33333333%);
     padding: 1em;
     border: 5px solid teal;
     background-image: linear-gradient(to right, @colour1, @colour2);
}

.favouritePokemon{
     background-image: linear-gradient(to right, @colour3, @colour2);
}

.info{
     grid-column: span 1;
}

.container{
     width: 100%;
	display:flex;
	flex-flow: row wrap;
     justify-content: space-around;
}

.details{

     vertical-align: bottom;
}

.body_text{
     display: grid;
}

.ID{
     grid-column-start: 1;
}

.Type{
     grid-column-start: 8;
     text-align: right;
}

.top_info{
     width: 50%;
     font-size: 35px;
     font-weight: bold;
     grid-column-end: span 7;
     grid-row-start: 1;
     grid-row-end: 2;

}

.stats{
     font-size: 20px;
     grid-column-end: span 2;
     grid-row-start: 2;
     grid-row-end: 3;
     text-align: center;
}
